$display-height: 28px;
$formula-height: 20px;
$screen-height: calc(#{$display-height} + #{$formula-height});

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Digital-7", "Open Sans", sans-serif;
  src: url("digital-7.ttf")  format("truetype"),
       url("digital-7_1.woff")  format("woff");
}

body {
  background-color: #000;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  & #root {
    width: 50%;
    background-color: #800000;
    border: 3px solid #800000;

    & #screen {
      background-color: #a9a9a9;
      width: 100%;
      height: $screen-height;

      & #formula {
        width: 100%;
        font-size: 13px;
        color: #000;
        text-align: right;
        background-color: #a9a9a9;
        height: $formula-height;
      }
  
      & #display {
        font-size: 20px;
        width: 100%;
        color: #000;
        text-align: right;
        background-color: #a9a9a9;
        height:  $display-height;
        text-align: right;
        bottom: 0;
      }
    }

    & #keypad {
      width: 100%;

      button {
        width: 25%;
        height: 100px;
        background-color: #808080;
        font-weight: bold;
      }

      .number {
        background-color: #fff;
      }

      #equals {
        background-color: #a62c2b
      }

      #decimal, #sign-switch {
        background-color: #fff;
      }
    }
  }
}