*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #000;
  font-family: inherit;
}

main {
  & #root {
    width: 70%;
    
    & #screen {
      background-color: #a9a9a9;
      & #formula {
        font-size: 12px;
        color: #000;
        text-align: right;
        background-color: #a9a9a9;
        height: 20px;
      }
  
      & #display {
        font-size: 15px;
        color: #000;
        text-align: right;
        background-color: #a9a9a9;
        height: 30px;
      }
    }
  }
}