$display-height: 28px;
$formula-height: 20px;
$screen-height: calc(#{$display-height} + #{$formula-height});

@mixin flex-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: #000;
}

main {
  @include flex-me();
  height: 100vh;

  & .calculator-container {
    width: 50%;
    background-color: #800000;
    border: 3px solid #800000;

    & .screen {
      background-color: #a9a9a9;
      width: 100%;
      height: $screen-height;

      & .formula {
        width: 100%;
        font-size: 14px;
        color: #000;
        text-align: right;
        background-color: #a9a9a9;
        height: $formula-height;
      }
  
      & .display {
        font-size: 18px;
        width: 100%;
        color: #000;
        text-align: right;
        background-color: #a9a9a9;
        height:  $display-height;
        text-align: right;
        bottom: 0;
      }
    }

    & .keypad {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows:  repeat(5, 1fr);

      button {
        width: 100%;
        height: 12vh;
        background-color: #808080;
        font-weight: bold;
      }

      .number, .decimal, .sign-switch {
        background-color: #fff;
      }

      .equals {
        background-color: #a62c2b
      }
    }
  }
}

@media screen and (width: 360px) and (height: 640px) {
  main {
    @include flex-me();
    height: 100vh;

    & .calculator-container {
      & .screen {
        height: calc(15px + 14px);

        & .formula {
          height: 14px;
          font-size: 13px;
        }

        & .display {
          height: 15px;
          font-size: 14px;
        }
      }

      & .keypad button {
        width: 100%;
        height: 4vh;
      }
    }
  }
}

@media screen and (width: 411px) and (height: 731px) {
  main {
    @include flex-me();
    height: 100vh;

    & .calculator-container {
      & .screen {
        height: calc(20px + 15px);

        & .formula {
          height: 15px;
          font-size: 14px;
        }

        & .display {
          height: 19px;
          font-size: 18px;
        }
      }
      
      & .keypad button {
        width: 100%;
        height: 4vh;
      }
    }
  }
}

@media screen and (width: 411px) and (height: 823px) {
  main {
    @include flex-me();
    height: 100vh;

    & .calculator-container {
      & .screen {
        height: calc(20px + 14px);

        & .formula {
          height: 14px;
          font-size: 13x;
        }

        & .display {
          height: 20px;
          font-size: 15px;
        }
      }

      & .keypad button {
        width: 100%;
        height: 4vh;
      }
    }
  }
}

@media screen and (width: 320px) and (height: 568px) {
  main {
    @include flex-me();
    height: 100vh;

    & .calculator-container {
      & .screen {
        height: calc(20px + 15px);

        & .formula {
          height: 14px;
          font-size: 13x;
        }

        & .display {
          height: 15px;
          font-size: 15px;
        }
      }

      & .keypad button {
        width: 100%;
        height: 5vh;
      }
    }
  }
}

@media screen and (width: 375px) and (height: 667px) {
  main {
    @include flex-me();
    height: 100vh;

    & .calculator-container {
      & .screen {
        height: calc(20px + 14px);

        & .formula {
          height: 14px;
          font-size: 13x;
        }

        & .display {
          height: 20px;
          font-size: 15px;
        }
      }

      & .keypad button {
        width: 100%;
        height: 4vh;
      }
    }
  }
}

@media screen and (width: 414px) and (height: 736px) {
  main {
    @include flex-me();
    height: 100vh;

    & .calculator-container {
      & .screen {
        height: calc(20px + 15px);

        & .formula {
          height: 15px;
          font-size: 14x;
        }

        & .display {
          height: 20px;
          font-size: 17px;
        }
      }

      & .keypad button {
        width: 100%;
        height: 4vh;
      }
    }
  }
}

@media screen and (width: 375px) and (height: 812px) {
  main {
    @include flex-me();
    height: 100vh;

    & .calculator-container {
      & .screen {
        height: calc(20px + 15px);

        & .formula {
          height: 15px;
          font-size: 14x;
        }

        & .display {
          height: 20px;
          font-size: 17px;
        }
      }

      & .keypad button {
        width: 100%;
        height: 4vh;
      }
    }
  }
}

@media screen and (width: 768px) and (height: 1024px) {
  main {
    @include flex-me();
    height: 100vh;

    & .calculator-container {
      & .screen {
        height: calc(20px + 15px);

        & .formula {
          height: 15px;
          font-size: 14x;
        }

        & .display {
          height: 20px;
          font-size: 17px;
        }
      }

      & .keypad button {
        width: 100%;
        height: 5vh;
      }
    }
  }
}

@media screen and (width: 1024px) and (height: 1366px) {
  main {
    @include flex-me();
    height: 100vh;

    & .calculator-container {
      & .screen {
        height: calc(20px + 15px);

        & .formula {
          height: 17px;
          font-size: 15x;
        }

        & .display {
          height: 22px;
          font-size: 21px;
        }
      }

      & .keypad button {
        width: 100%;
        height: 5vh;
      }
    }
  }
}

@media screen and (width: 540px) and (height: 720px) {
  main {
    @include flex-me();
    height: 100vh;

    & .calculator-container {
      & .screen {
        height: calc(20px + 15px);

        & .formula {
          height: 15px;
          font-size: 14x;
        }

        & .display {
          height: 20px;
          font-size: 17px;
        }
      }

      & .keypad button {
        width: 100%;
        height: 4vh;
      }
    }
  }
}

@media screen and (width: 280px) and (height: 653px) {
  main {
    @include flex-me();
    height: 100vh;

    & .calculator-container {
      & .screen {
        height: calc(20px + 15px);

        & .formula {
          height: 15px;
          font-size: 14x;
        }

        & .display {
          height: 18px;
          font-size: 17px;
        }
      }

      & .keypad button {
        width: 100%;
        height: 4vh;
      }
    }
  }
}
