*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: #000;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .calculator-container {
  width: 50%;
  background-color: #800000;
  border: 3px solid #800000;
}
main .calculator-container .screen {
  background-color: #a9a9a9;
  width: 100%;
  height: calc(28px + 40px);
}
main .calculator-container .screen .formula {
  width: 100%;
  font-size: 14px;
  color: #000;
  text-align: right;
  background-color: #a9a9a9;
  height: 40px;
}
main .calculator-container .screen .display {
  font-size: 18px;
  width: 100%;
  color: #000;
  text-align: right;
  background-color: #a9a9a9;
  height: 28px;
  text-align: right;
  bottom: 0;
}
main .calculator-container .keypad {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
main .calculator-container .keypad button {
  width: 100%;
  height: 12vh;
  background-color: #808080;
  font-weight: bold;
}
main .calculator-container .keypad .number, main .calculator-container .keypad .decimal, main .calculator-container .keypad .sign-switch {
  background-color: #fff;
}
main .calculator-container .keypad .equals {
  background-color: #a62c2b;
}

@media screen and (min-width: 200px) and (max-width: 399px) {
  main .calculator-container .screen .formula {
    height: calc(14px * 2px);
    font-size: 14px;
  }
  main .calculator-container .screen .display {
    height: 16px;
    font-size: 16px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 5vh;
  }
}
@media screen and (max-width: 500px) {
  main .calculator-container .screen .formula {
    height: calc((14px * 2px) + 1px);
    font-size: 14px;
  }
  main .calculator-container .screen .display {
    height: 16px;
    font-size: 16px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 5vh;
  }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
  main .calculator-container .screen .formula {
    height: calc((14px * 2px) + 1px);
    font-size: 14px;
  }
  main .calculator-container .screen .display {
    height: 16px;
    font-size: 16px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 6vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .calculator-container .screen .formula {
    height: calc((14px * 2px) + 2px);
    font-size: 15px;
  }
  main .calculator-container .screen .display {
    height: 18px;
    font-size: 17px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 9vh;
  }
}
@media screen and (min-width: 1224px) {
  main .calculator-container .screen .formula {
    height: 40px;
    font-size: 14px;
  }
  main .calculator-container .screen .display {
    height: 28px;
    font-size: 18px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 11vh;
  }
}
@media screen and (min-width: 1824px) {
  main .calculator-container .screen .formula {
    height: 40px;
    font-size: 14px;
  }
  main .calculator-container .screen .display {
    height: 28px;
    font-size: 18px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 11vh;
  }
}

/*# sourceMappingURL=style.css.map */
