*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: #000;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .calculator-container {
  width: 50%;
  background-color: #800000;
  border: 3px solid #800000;
}
main .calculator-container .screen {
  background-color: #a9a9a9;
  width: 100%;
  height: calc(28px + 20px);
}
main .calculator-container .screen .formula {
  width: 100%;
  font-size: 14px;
  color: #000;
  text-align: right;
  background-color: #a9a9a9;
  height: 20px;
}
main .calculator-container .screen .display {
  font-size: 18px;
  width: 100%;
  color: #000;
  text-align: right;
  background-color: #a9a9a9;
  height: 28px;
  text-align: right;
  bottom: 0;
}
main .calculator-container .keypad {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
main .calculator-container .keypad button {
  width: 100%;
  height: 12vh;
  background-color: #808080;
  font-weight: bold;
}
main .calculator-container .keypad .number, main .calculator-container .keypad .decimal, main .calculator-container .keypad .sign-switch {
  background-color: #fff;
}
main .calculator-container .keypad .equals {
  background-color: #a62c2b;
}

@media screen and (width: 360px) and (height: 640px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .calculator-container .screen {
    height: calc(15px + 14px);
  }
  main .calculator-container .screen .formula {
    height: 14px;
    font-size: 13px;
  }
  main .calculator-container .screen .display {
    height: 15px;
    font-size: 14px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 4vh;
  }
}
@media screen and (width: 411px) and (height: 731px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .calculator-container .screen {
    height: calc(20px + 15px);
  }
  main .calculator-container .screen .formula {
    height: 15px;
    font-size: 14px;
  }
  main .calculator-container .screen .display {
    height: 19px;
    font-size: 18px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 4vh;
  }
}
@media screen and (width: 411px) and (height: 823px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .calculator-container .screen {
    height: calc(20px + 14px);
  }
  main .calculator-container .screen .formula {
    height: 14px;
    font-size: 13x;
  }
  main .calculator-container .screen .display {
    height: 20px;
    font-size: 15px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 4vh;
  }
}
@media screen and (width: 320px) and (height: 568px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .calculator-container .screen {
    height: calc(20px + 15px);
  }
  main .calculator-container .screen .formula {
    height: 14px;
    font-size: 13x;
  }
  main .calculator-container .screen .display {
    height: 15px;
    font-size: 15px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 5vh;
  }
}
@media screen and (width: 375px) and (height: 667px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .calculator-container .screen {
    height: calc(20px + 14px);
  }
  main .calculator-container .screen .formula {
    height: 14px;
    font-size: 13x;
  }
  main .calculator-container .screen .display {
    height: 20px;
    font-size: 15px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 4vh;
  }
}
@media screen and (width: 414px) and (height: 736px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .calculator-container .screen {
    height: calc(20px + 15px);
  }
  main .calculator-container .screen .formula {
    height: 15px;
    font-size: 14x;
  }
  main .calculator-container .screen .display {
    height: 20px;
    font-size: 17px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 4vh;
  }
}
@media screen and (width: 375px) and (height: 812px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .calculator-container .screen {
    height: calc(20px + 15px);
  }
  main .calculator-container .screen .formula {
    height: 15px;
    font-size: 14x;
  }
  main .calculator-container .screen .display {
    height: 20px;
    font-size: 17px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 4vh;
  }
}
@media screen and (width: 768px) and (height: 1024px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .calculator-container .screen {
    height: calc(20px + 15px);
  }
  main .calculator-container .screen .formula {
    height: 15px;
    font-size: 14x;
  }
  main .calculator-container .screen .display {
    height: 20px;
    font-size: 17px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 5vh;
  }
}
@media screen and (width: 1024px) and (height: 1366px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .calculator-container .screen {
    height: calc(20px + 15px);
  }
  main .calculator-container .screen .formula {
    height: 17px;
    font-size: 15x;
  }
  main .calculator-container .screen .display {
    height: 22px;
    font-size: 21px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 5vh;
  }
}
@media screen and (width: 540px) and (height: 720px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .calculator-container .screen {
    height: calc(20px + 15px);
  }
  main .calculator-container .screen .formula {
    height: 15px;
    font-size: 14x;
  }
  main .calculator-container .screen .display {
    height: 20px;
    font-size: 17px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 4vh;
  }
}
@media screen and (width: 280px) and (height: 653px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main .calculator-container .screen {
    height: calc(20px + 15px);
  }
  main .calculator-container .screen .formula {
    height: 15px;
    font-size: 14x;
  }
  main .calculator-container .screen .display {
    height: 18px;
    font-size: 17px;
  }
  main .calculator-container .keypad button {
    width: 100%;
    height: 4vh;
  }
}

/*# sourceMappingURL=style.css.map */
